.landing_container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 85vh;
  width: 100%;
}

.landing-heading {
  color: #062321;
  font-size: 20rem;
  font-family: $headers-font;
  text-align: right;
}

.landing-subtitle {
  color: #062321;
  font-size: 2em;
  font-family: $headers-font;
  padding-right: 3em;
  text-align: right;
}
