
.landing_container h1 {
  color: #062321;
  font-size: 10.5rem;
  font-family: $headers-font;
}

.landing_container h2 {
  font-family: $headers-font;
  color: #062321;
  font-size: 3.5rem;
}

// .text {
//   color: #062321;
//   font-size: 2rem;
//   font-family: $headers-font;
// }

body {
  background-color: #81EBE0;
}

.landing_container {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
  height: 60%;
  padding-right: 25px;
  padding-top: 36%;
  padding-left: 36%;

}

.landing-heading {
  color: #062321;
  font-size: 20rem;
  font-family: $headers-font;
  text-align: right;
}

.landing-subtitle {
  color: #062321;
  font-size: 2em;
  font-family: $headers-font;
  padding-right: 3em;
  text-align: right;
}
