// .days-container{
//   display: flex;
//   justify-content: center;
//   margin-left: 25%;
//   margin-top: 15%;
// }
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card-circle {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
}

#progress {
  position:absolute;
  left: 0%;
  right: 2.37%;
  top: 65%;
  bottom: 0%;
  font-family: 'AmstelvarAlpha';
  font-style: normal;
  font-weight: 400;
  font-size: 208px;
  line-height: 250px;
  leading-trim: both;
  text-edge: cap;
  color: #062321;
}


.progress-circle {
  border-radius: 100%;
  position: fixed;
  bottom: -50vh;
  left: -50vh;

  &.one {
    opacity: 75%;
    width: 100vh;
    height: 100vh;
    z-index: -1;
    background-color:#EDFCFB;
  }

  &.two {
    opacity: 50%;
    width: 120vh;
    height: 120vh;
    z-index: -3;
    background-color:#EDFCFB;
  }

  &.three {
    opacity: 40%;
    width: 140vh;
    height: 140vh;
    z-index: -4;
    background-color:#EDFCFB;
  }

  &.four {
    opacity: 20%;
    width: 162vh;
    height: 155vh;
    z-index: -5;
    background-color:#EDFCFB;
  }
}
