.navbar {
  height: 15vh;

  .option-1 {
    font-family: $headers-font;
    font-size: 1.5em;
    color: $black;
    text-decoration: none;
    position: fixed;
    left: 9em;
    top: 4em;
  }

  .option-2 {
    font-family: $headers-font;
    font-size: 1.5em;
    color: $black;
    text-decoration: none;
    position: fixed;
    top: 9em;
    left: 4em;
  }
}

.hidden {
  display: none !important;
}

.today-page-container {
  height: 85vh;
  display: flex;
}

.highlight-and-date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding-left: 2em;
  padding-bottom: 1em;
}

.highlight {
  height: 55vh;
  width: 55vh;
  border-radius: 50%;
  border-style: solid;
  border-width: 1em;
  border-color: rgba($color: $turquoise_shade, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $turquoise_shade;
}

.day-name-and-date {
  position: relative;
  font-family: $headers-font;

  input[type=text] {
    font-size: 10em;
    font-family: $headers-font;
    background-color: $transparent;
    border: none;
    color: $black;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  h2 {
    position: absolute;
    font-size: 3em;
    left: 0em;
    bottom: -0.2em;
    color: $black;
  }
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: start;
  width: 60%;
  padding-left: 7em;

  .new-task-input {
    background-color: $transparent;
    border: none;
    color: $black;
    border-bottom: 1px solid $black;
    font-size: 3em;
    &:focus {
      outline: none;
    }
  }
}

.categories {
  position: absolute;
  left: -9em;
  top: -50%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba($color: $turquoise_shade, $alpha: 0.5);

  input[type=text] {
    width: 8em;
    margin-left: 0 !important;
  }

  .category-btn {
    background-color: $transparent;
    border: none;
  }
}

.task {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: $black;
  border-width: 1px;
  border-radius: 0.6em;
  padding: 0.5em;
  position: relative;

  form {
    display: flex;
    align-items: center;
  }

  .category {
    background-color: rgba($color: $turquoise_shade, $alpha: 0.5);
    border: none;
    appearance: none;
    border-radius: 0.6em;
    padding: 0.25em;
    width: 2em;
    height: 2em;
    text-align: center;
  }

  input[type=text] {
    background-color: $transparent;
    margin-left: 0.5em;
    border: none;
    color: $black;
  }

  .checkmark {
    background-color: $transparent;
    border-style: solid;
    border-color: $turquoise_shade;
    border-width: 1px;
    border-radius: 50%;
    width: 2em;
    height: 2em;

    &.done {
      background-color: $turquoise_shade
    }
  }

  .delete-btn {
    background-color: $transparent;
    color: $black;
    position: absolute;
    right: -1em;
    top: -1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid $black;
    padding: 0;
    line-height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
