.btn-hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.btn-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  display: none !important;
}

.today-page-container {
  height: 85vh;
  display: flex;
  padding-left: 2em;
  padding-bottom: 2em;
}

.highlight-and-date-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.highlight {
  height: 50vh;
  width: 50vh;
  border: solid 0.25em rgba($color: $black, $alpha: 0.5);
  border-radius: 50%;
  object-position: center;
  background-size: cover;
  position: relative;

  p {
    color: rgba($color: $black, $alpha: 0.5);
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    line-height: 1em;
    width: 50%;
    z-index: -1;
    font-size: 1.5em;;
  }

  form {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type=file] {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

#highlightUpload {
  cursor: pointer;
}

.day-name-and-date {
  position: relative;
  font-family: $headers-font;
  width: 100%;
  float: left;

  input[type=text] {
    font-size: 7.5em;
    font-family: $headers-font;
    background-color: $transparent;
    border: none;
    color: $black;
    width: 100%;
    padding-left: 0rem;
    height: 160px;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
    &:focus {
      outline: none;
    }
  }

  h2 {
    font-size: 2em;
    color: $black;
    line-height: 0;
  }
}

.tasks-and-new-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 85%;
  padding-left: 7em;
  padding-bottom: 1em;
}

.tasks-container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  height: 100%;
}

.new-task-input {
  background-color: $transparent;
  border: none;
  color: $black;
  font-size: 3em;
  width: 100%;
  text-decoration: underline;

  &::placeholder {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

.categories-menu {
  position: absolute;
  left: -9em;
  top: -50%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba($color: $turquoise_shade, $alpha: 0.5);

  input[type=text] {
    width: 8em;
    margin-left: 0 !important;
  }

  .category-btn {
    background-color: $transparent;
    border: none;
  }

  .category-btn-and-color-popup {
    position: relative;

    .category-btn {
      background-color: $transparent;
      border: none;
    }

    .category-color-popup {
      position: absolute;
      left: -1.25em;
      top: 0.5em;
      width: 1em;
      height: 1em;

      i {
        position: absolute;
        width: 1em;
        height: 1em;
      }

      .category-color-picker {
        opacity: 0;;
        width: 1em;
        height: 1em;
        z-index: 5;
        position: absolute;
        cursor: pointer;
      }
    }
  }
}

.task {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: $black;
  border-width: 1px;
  border-radius: 0.6em;
  padding: 0.5em;
  position: relative;

  form {
    display: flex;
    align-items: center;
  }

  .category {
    background-color: rgba($color: $turquoise_shade, $alpha: 0.5);
    border: none;
    appearance: none;
    border-radius: 0.6em;
    padding: 0.25em;
    width: 2em;
    height: 2em;
    text-align: center;
    cursor: pointer;
  }

  input[type=text] {
    background-color: $transparent;
    margin-left: 0.5em;
    border: none;
    color: $black;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
    &:focus {
      outline: none;
    }
  }

  .checkmark {
    background-color: $transparent;
    border-style: solid;
    border-color: $turquoise_shade;
    border-width: 1px;
    border-radius: 50%;
    width: 2em;
    height: 2em;

    &.done {
      border-width: 3px;
    }
  }

  .delete-btn {
    background-color: $transparent;
    color: $black;
    position: absolute;
    right: -1em;
    width: 0.5em;
    height: 0.5em;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.5em;
    cursor: pointer;
  }

  .update-priority-button {
    background-color: $transparent;
    color: $black;
    position: absolute;
    right: -1em;
    top: 2em;
    width: 0.5em;
    height: 0.5em;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.5em;
    cursor: pointer;
  }

  .priority-options {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    border-radius: 0.5em;
    padding: 0.5em;
    gap: 0.3em;
    position: absolute;
    right: -2.5em;
  }
}
