<div class="navbar"
     data-controller="login-navigation hotdog-navigation"
     data-hotdog-navigation-logged-in-value=<%= user_signed_in? %>
     data-action="click@window->login-navigation#closeAll click@window->hotdog-navigation#hideMenu">

  <div id="hotdog-menu"
        data-login-navigation-target="threeBars"
        data-hotdog-navigation-target="threeBars"
        data-action="click->login-navigation#toggleMenu click->hotdog-navigation#toggleMenu">
      <div id="pulse">
        <div class="bar-top"></div>
        <div class="bar-long"></div>
        <div class="bar-bottom"></div>
      </div>
  </div>

  <% if user_signed_in? %>
    <a href="/days" class="option-1 hidden" data-hotdog-navigation-target="option1">progress</a>
    <a href="/days/<%= @day.id %>" class="option-2 hidden" data-hotdog-navigation-target="option2">today</a>
    <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete, hotdog_navigation_target: 'option3' }, class: 'option-3 hidden' %>
  <% else %>
    <a class="option-1 hidden"
      data-login-navigation-target="loginLink"
      data-action="click->login-navigation#openLoginForm">
      log in
    </a>

    <a class="option-2 hidden"
      data-login-navigation-target="signupLink"
      data-action="click->login-navigation#openSignupForm"
      >sign up
    </a>
  <% end %>

  <form action="/user/sign_in" method="post" class="login-form hidden"
        data-login-navigation-target="loginForm"
        data-controller="days-generation"
        data-action="submit->days-generation#loginAndGenerateMissingDays">
    <h1>log in</h1>
    <input type="text" placeholder="Username (required)" name="user[email]" data-days-generation-target="username">
    <input type="password" placeholder="Password (required)" name="user[password]" data-days-generation-target="password">
    <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    <input type="submit" value="enter">
  </form>

  <form action="" method="get" class="signup-form hidden"
        data-login-navigation-target="signupForm">
    <h1>sign up</h1>
    <input type="text" placeholder="Email (required)">
    <input type="password" placeholder="Password (required)">
    <input type="submit" value="enter">
  </form>

  <div class="bg-circles">
    <div class="one landing"></div>
    <div class="two landing"></div>
    <div class="three landing"></div>
    <div class="four landing"></div>
  </div>
</div>



<div class="landing_container">
  <h1 class="heading">focus.</h1>
  <h2>a fun & simple way <br> to customise your <br>daily task.</h2>
</div>
