<a href="/users/sign_up">Get Started</a>
<div class="circle one"></div>
<div class="circle two"></div>
<div class="circle three"></div>
<div class="circle four"></div>

<div class="landing_container">
  <h1 class="heading">focus.</h1>
</div>

<div class="landing_text">
  <p class="text">Welcome to focus.<br> A simple, beautiful and <br> fun task manager to <br> customise your daily tasks.</p>
</div>
