<div class="navbar" data-controller="hotdog-navigation-login" data-action="click->hotdog-navigation-login#toggleMenu">
  <div id="hotdog-menu" data-hotdog-navigation-login-target="threeBars">
      <div class="pulse">
        <div class="bar-top"></div>
        <div class="bar-long"></div>
        <div class="bar-bottom"></div>
      </div>
  </div>

  <% if user_signed_in? %>
    <%= link_to 'log out', destroy_user_session_path, data: { turbo_method: :delete, hotdog_navigation_login_target: 'logoutLink' }, class: 'signed-in-option-1' %>

    <a href="/days" class="signed-in-option-2">progress</a>
    <a href="/days/<%= @day.id %>" class="signed-in-option-3">today</a>

  <% else %>
    <a class="option-1 hidden"
      data-hotdog-navigation-login-target="loginLink"
      data-action="click->hotdog-navigation-login#toggleLogin">
      log in
    </a>

    <a class="option-2 hidden"
      data-hotdog-navigation-login-target="signupLink"
      >sign up
     </a>
  <% end %>

  <form action="/user/sign_in" method="post" class="login-form hidden"
        data-hotdog-navigation-login-target="loginForm"
        data-controller="days-generation"
        data-action="click->hotdog-navigation-login#onInputFocus submit->days-generation#loginAndGenerateMissingDays">
    <h1>log in</h1>
    <input type="text" placeholder="Username (required)" name="user[email]" data-days-generation-target="username">
    <input type="password" placeholder="Password (required)" name="user[password]" data-days-generation-target="password">
    <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    <input type="submit" value="enter">
  </form>

  <form action="" method="get" class="signup-form hidden" data-hotdog-navigation-login-target="signupForm" data-action="click->hotdog-navigation-login#onInputFocus">
    <h1>sign up</h1>
    <input type="text" placeholder="Email (required)">
    <input type="password" placeholder="Password (required)">
    <input type="submit" value="enter">
  </form>
</div>

<div class="landing_container">
  <h1 class="heading">focus.</h1>
  <h2>a fun & simple way <br> to customise your <br>daily task.</h2>
</div>

<div class="circle-landing one"></div>
<div class="circle-landing two"></div>
<div class="circle-landing three"></div>
<div class="circle-landing four"></div>
