.search-bar {


  .form-control {
    width: 14em;
  }

  .btn {
    visibility: hidden;
    opacity: 0;
  }
}

.days-container {
  display: flex;
  justify-content: center;
  text-align: center;

  .cards a {
    text-decoration: none;
    color: white;
  }
}
