.search-bar {
  // float: right;

  .form-control {
    width: 30%;
  }

  .btn {
    visibility: hidden;
    opacity: 0;
  }
}

.days-container {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 15%;
  .cards a {
    text-decoration: none;
    color: white;
  }
}
