
.circle {
  border-radius: 100%;
  position: fixed;
  top: -50vh;
  left: -50vh;

  &.one {
    opacity: 75%;
    width: 80vh;
    height: 80vh;
    z-index: -1;
    background-color:#EDFCFB;
  }

  &.two {
    opacity: 50%;
    width: 120vh;
    height: 120vh;
    z-index: -3;
    background-color:#EDFCFB;
    top: -70vh;
    left: -70vh;
  }

  &.three {
    opacity: 40%;
    width: 140vh;
    height: 140vh;
    z-index: -4;
    background-color:#EDFCFB;
    top: -70vh;
    left: -70vh;
  }

  &.four {
    opacity: 20%;
    width: 180vh;
    height: 180vh;
    z-index: -5;
    background-color:#EDFCFB;
    top: -90vh;
    left: -90vh;
  }
}
