
@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(129, 235, 224, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(129, 235, 224, 0.8);
  }
}

@keyframes shadow-pulse-big
{
  // 0% {
  //   box-shadow: 0 0 0 0px rgba(129, 235, 224, 0.5);
  // }
  // 100% {
  //   box-shadow: 0 0 0 55px rgba(129, 235, 224, 0.5);
  // }
}


#hotdog-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  padding-top: 3em;
  gap: 0.5em;
  rotate: 0deg;

  .bar-top {
    width: 3em;
    height: 0.5em;
    background-color: $black;
    border-radius: 0.25em;
  }

  .bar-long {
    width: 4em;
    height: 0.5em;
    background-color: $black;
    border-radius: 0.25em;

  }

  .bar-bottom {
    width: 3em;
    height: 0.5em;
    background-color: $black;
    border-radius: 0.25em;
  }

  :hover {
    animation: none;
  }

  .pulse {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    animation: shadow-pulse 2s infinite;
    padding-top: 0.8em;
  }
}
