#hotdog-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  padding-top: 3em;
  gap: 0.5em;
  rotate: -30deg;

  .bar-top {
    width: 3em;
    height: 0.5em;
    background-color: $black;
    border-radius: 0.25em;
  }

  .bar-long {
    width: 4em;
    height: 0.5em;
    background-color: $black;
    border-radius: 0.25em;
  }

  .bar-bottom {
    width: 3em;
    height: 0.5em;
    background-color: $black;
    border-radius: 0.25em;
  }
}
